@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');


body {
  margin: 0;
  padding: 0;
  color: #64072b;
  background-image: url("assets/fundo_rosa.avif");
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Ubuntu Mono', monospace;
}

.container{
  margin: auto;
  width: 70rem;
  height: 7rem;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center; /* Centraliza horizontalmente */
  border: 2px solid rgba(255, 255, 255, 1);
  background-color: rgba(255, 255, 255, 0.5);
}

.imagem__logo {
  margin-top:1%;
  float: left;
  margin-left: 5%;
}

.titulo {
  font-family: 'Ubuntu Mono', monospace;
}

.left {
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  width: 50%;
  margin-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}

.text__input {
  float: left;
  margin-top: 20px; 
  margin-bottom: 20px; 
  padding-bottom: 10%;
  width: 80%;
  height: 200px;
  font-family: 'Ubuntu Mono', monospace;
  color: #64072b;
  font-size: 40px;
  border: 2px solid rgba(255, 255, 255, 1);
  background-color: rgba(255, 255, 255, 0.5);
}

.alerta {
  display: flex; 
  align-items: center; 
  margin-top: auto; 
  margin-bottom: auto; 
  margin-left: 5%; 
  margin-right: 5%; 
  width: 40%; 
  border: 2px solid rgba(255, 255, 255, 1);
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 24px;
}

.imagem__alerta {
  width: 16px;
  height: 16px;
  margin-right: 10px; 
}

.texto__alerta {
  font-size: px;
  margin: 3px;
  font-family: 'Ubuntu Mono', monospace;
}

.left__button {
  float: left;
  width: 50%;
  height: auto;
  border-radius:24px;
}

#buttonEncriptador{
  padding: 1.5rem;
  font-size: 1.25rem;
  width: 100%;
  height: 60%;
  font-family: 'Ubuntu Mono', monospace;
  font-weight: bold;
  border-radius: 1.5rem;
  margin-left: 5%;
  margin-top: 20px;
  margin-bottom: 20px; 
  background-color: rgba(83, 5, 107, 0.5);
}

#buttonDescriptador{
  padding: 1.5rem;
  font-size: 1.25rem;
  align-items:center;
  width: 100%;
  height: 60%;
  border-radius: 1.5rem;
  margin-left: 5%;
  font-family: 'Ubuntu Mono', monospace;
  font-weight: bold;  
  background-color: rgba(83, 5, 107, 0.5);
}

.right {
  float: right;
  width: 40%;
  margin-right: 4.313rem;
  box-sizing: border-box;
  box-shadow: 0px 24px 32px 8px;
  border-radius: 1.5rem;
  text-align: center;
  margin-bottom: 20px; 
  display: flex;
  flex-direction: column; 
}

.right img {
  margin-top: 20px; 
  margin-bottom: 20px; 
}

#imagem,
#imagem2 {
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
  margin-left: auto; 
  margin-right: auto; 
}

#imagem{
  margin-top: 3%;
  width: 80%;
  height: auto;
}

#imagem2{
  margin-top: 3%;
  width: 80%;
  height: auto;
  display: none;
}

#texto{
  margin-top: 20px; 
  margin-bottom: 20px; 
  font-family: 'Ubuntu Mono', monospace;
}

#texto2 {
  color: #64072b;
  font-family: 'Ubuntu Mono', monospace;
  border: 2px solid rgba(255, 255, 255, 1);
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 80%;
  resize: vertical; 
  text-align: center !important; 
  display: block; 
  margin-left: auto;
  margin-right: auto; 
}

#copiar {
  margin-top: 20px;
  margin-bottom: 20px; 
  padding: 12px;
  width: 50%;
  height: 10%;
  font-size: 25px;
  border: 2px solid rgba(255, 255, 255, 1);
  background: rgba(255, 255, 255, 0.5);
  border-radius: 24px;
  color: #64072b;
  font-family: 'Ubuntu Mono', monospace;
  font-weight: bold;  
  margin-left: auto; /* Centraliza à esquerda */
  margin-right: auto; /* Centraliza à direita */
}

footer {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  text-align: center;    
  font-size: 18px;
  color: #64072b;
  height: 3.5rem; 
  width: 100%; 
  bottom: 0px;
}

footer a {
  font-family: 'Ubuntu Mono', monospace;
  text-decoration: none;
  color:#64072b;
}

.redes-sociais a img {
  filter: invert(45%);
  width: 30px;
  height: 30px;
  border-radius: 100%;
  padding: 4px;
}

@media only screen and (max-width: 824px) {
  /* Estilos que serão aplicados quando a largura da tela for no máximo 600px */
  body {
    background-color: lightblue;
  }
}


